doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/input.css')
    link(rel='stylesheet', href='/css/detail.css')
    script(src="/js/main.js")
    script(src="/js/detail.js")
  body
    block content
